.owl-carousel .owl-item .carousel-hookahs-img
    width: inherit
    height: inherit
.s-hookahs
    display: flex;
    height: 805px
    background-repeat: repeat;
    background-size: inherit;
    &.section-overley
        &::before
            background-color: darken(rgb(31, 14, 3),0%)
            opacity: 0.7
    .container-none
         margin: auto
         width: 100%;
    text-align: center
    
.carousel-hookahs
    margin: auto
    &.owl-carousel.owl-loaded
    .owl-nav
        position: absolute
        width: 100%
        top: calc(50% - 72pt/2)
        div
            position: absolute;
        
        .owl-prev 
            left: calc(18% - 72pt/2);
        .owl-next 
            right: calc(18% - 72pt/2);
        .fa
            font-size: 72pt
            color: $accent
            opacity: 0.40
    
.carousel-hookahs-item    

.carousel-hookahs-content
    width: 433px
    margin: auto
    text-align: center
    
.carousel-hookahs-img
    